@model Usuario

<h1>Registre um usuario</h1>

<form asp-action="RegistrarUsuarios" method="post">
    <input type="text" asp-for="Nome" id="userNome" placeholder="Nome">
    <input type="text" asp-for="login" id="userLogin" placeholder="login">
    <input type="text" asp-for="senha" id="userSenha" placeholder="senha">

    <select asp-for="tipo" id="userTipo">
        <option value="=@Usuario.ADMIN">Administrador</option>
        <option value="=@Usuario.PADRAO">Padrão</option>
    </select>

    <input type="submit" value="REGISTRAR">
</form>